*{
    box-sizing: border-box;
}
.logo {
    float: left;
    padding: 8px;
    border-right: 1px solid black !important;
}
.border{
    padding: 10;
}
.col-sm-4{
padding: 2em;
color:white;
background-color: black;
}
.nav{
 text-align: center;
}
.col{
    text-align: center;  
    padding: 2em;
}
.row{
    
}
footer{
    text-align: center;
}   
button{
    padding: 10px;
    border-radius: 20px;
    margin: 1em;
}
