*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.logo {
    float: left;
    padding: 8px;
    border-right: 1px solid black !important;
    color: white;
    background-color: black;
    transition: background-color 0.5s ease; /* Hieno sisääntulo */
}
.nav{
    background-color: black;
    transition: background-color 0.5s ease; /* Hieno sisääntulo */

}
.nav-item .nav-link .nav .logo{
    color: white !important;

    font-family: 'Roboto', sans-serif; /* Hieno Fonnti */
}
#banner{
    text-align: center; 
    font-family: sans-serif;
    padding: 10em;
    color:white;
    font-size: 25px;
    transition: background-color 0.5s ease; /* Hieno sisääntulo */
    background-image: url("https://wallpapercave.com/wp/wp13355156.jpg");
    background-size: cover;
    height: 80vh; /* adjust the height as needed */
}
button{
    border-radius: 20%;
    margin: 10px;
    padding: 3px;
    text-align: center;
    background-color: white;
}
footer {
    background-color: black;
    font-size: 14px;
    color: white;
    text-align: center;
  }
  footer a {
    color: #333;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
  .full-width {
    width: 100%;
  }

